{% include 'base.html' %}

{% block content %}
{% if cart.products is not None %}
    <div class="container">
        <h2 class="text-center">Cart</h2>
        <table class="table">
            <thead>
                <th scope="col">ID</th>
                <th scope="col">Product Name</th>
                <th scope="col">Price</th>
            </thead>
            <tbody>
                {% for product in cart.products.all %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>
                            <a href="{{ product.get_absolute_path }}">{{ product.name }}</a>
                            {% include 'products/snippets/update-cart.html' with product=product cart=cart in_cart=True %}
                        </td>
                        <td>{{ product.price }}</td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="2"></td>
                    <td><b>Subtotal</b> {{ cart.subtotal }}</td>
                </tr>
                <tr>
                    <td colspan="2"></td>
                    <td><b>Total</b> {{ cart.total }}</td>
                </tr>
            </tbody>
        </table>
    {% else %}
    <p class="lead text-center">Cart is Empty.</p>
    {% endif %}
    </div>
{% endblock %}